@model IEnumerable<TicketingSystem.Web.Models.Cashier>

<h2>CashiersList</h2>

@if (Model.Count() == 0)
{
    <p>No data in the database</p>
}
else
{
    <table border="1">
        <tr>
            <th>@Html.DisplayNameFor(m => m.First().Name)</th>
            <th>@Html.DisplayNameFor(m => m.First().Address)</th>
            <th>@Html.DisplayNameFor(m => m.First().Salary)</th>
            <th>Datasheet</th>
            <th>Delete</th>
            <th>Modify</th>
        </tr>
        @foreach (var cashier in Model)
        {
    <tr>
        <td>@Html.DisplayFor(m => cashier.Name)</td>
        <td>@Html.DisplayFor(m => cashier.Address)</td>
        <td>@Html.DisplayFor(m => cashier.Salary)</td>
        <td>@Html.ActionLink("[SHOW]", "Details", new { id = cashier.Id })</td>
        <td>@Html.ActionLink("[DEL]", "Remove", new { id = cashier.Id })</td>
        <td>@Html.ActionLink("[EDIT]", "Edit", new { id = cashier.Id })</td>
    </tr>
        }
    </table>
}
